<nav class="d-flex justify-content-start align-items-center px-5 py-2 w-100">
    <img src="/images/logo.png" alt="Logo" class="ms-3">

    <div class="d-flex align-items-center ms-5 gap-5">
        <a href="/home" class="text-black text-decoration-none">Home</a>
        <a href="/my-project" class="text-black text-decoration-none">My Project</a>
    </div>

    <a href="/contact" class="btn btn-dark ms-auto me-3 px-3 py-1">Contact Me</a>
</nav>